.container {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 100%;
    margin-top: 11%;
    padding: 0px;

  }
  
  .EVAAP {
    background: #F8EBEB;

  }
  .EVAAP{
    margin: 0;
    padding: 40px 20px;
    text-align: center;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .text-content {
    max-width: 500px;
    padding:0px
  }
  
  .text-content h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .text-content p {
    font-size: 16px;
    line-height: 1.5;
    padding:10px;
  }
  
  .header-image {
    width: 250px;
    height: auto;
    border-radius: 8px;
  }
  
  .vision-container {
    background: #69ad82;
    padding: 40px 20px;
    text-align: center;
    color: white;
  }
  
  .vision-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .vision-container p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .Our_Vision_Container {
    margin: 0;
    padding: 40px 20px;
    text-align: center;
  }
  
  .vision {
    text-align: center;
    margin: 0;
    font-style: italic;
    background: #69ad82;
    padding: 40px;
    text-align: center;
    width:100%;
    height: 200px;
    
  }
  .Comprehensive-background-verification{
    background: #E9DBDB;
    padding:10px;
    text-align: center;
    width:100%;
    height: 200px;
  }
  
  .background-verification {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width:100%;
  }
  
  .background-verification button {
    background: black;
    color: white;
    width:200px;
    border-radius:20px;
  }
  .About_US_Content{
    background: #fcdcdc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width:50%;
    height: 200px;
  }
  
  .about-us {
    margin: 40px 0;
  }
  
  .highlight {
    background: #fcdcdc;
    color: #d80000;
    padding: 10px;
    border-radius: 5px;
  }
  .p{
    width:80px;
    height:80px;
  }
  
  .vision-mission {
    margin: 40px 0;
  }
  
  .vision-title {
    color: red;
  }
  
  .mission-title {
    color: black;
  }
  
  .why-join-us ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .contact {
    margin-top: 40px;
    text-align: left;
    font-style: italic;
  }
  .p{
    width:80px;
    height:80px;
    text-align: center;
  }